<ul class="pagination">
  <!-- <li>
    <a (click)="changePage(1)">
      <i class="iconfont" title="首页">&#xe624;</i>
    </a>
  </li> -->
  <li *ngIf="currentPage > 1">
    <a (click)="goPrevious(currentPage)">
      <i class="iconfont" title="上一页">&laquo;</i>
    </a>
  </li>
  <ng-container *ngFor="let  i of navigatepageNums; let n=index">
      <li [ngClass]="{'active':i==currentPage}" *ngIf="i<6">
          <a (click)="changePage(i)">{{i}}</a>
        </li>
        <li class="disabled" *ngIf="i > 5">
            <a>...</a>
        </li>
  </ng-container>

  <li *ngIf="currentPage < totalPage">
    <a (click)="changePage(currentPage+1)">
      <i class="iconfont" title="下一页">&raquo;</i>
    </a>
  </li>
  <!-- <li>
    <a (click)="changePage(totalPage)">
      <i class="iconfont" title="末页">&#xe627;</i>
    </a>
  </li> -->
</ul>
