<div class="banner case-banner">
  <img src="assets/images/case-banner.png" alt="案例中心banner">
</div>
<main id="main" role="main" class="main">
  <section class="case">
      <h3 class="heading">
          <strong class="cn">案例中心</strong>
          <strong class="en">Case Center</strong>
      </h3>
      <ul class="list">
          <li>
              <a href="#" title="120阳光房系列">
                  <figure>
                      <img src="assets/images/case1.jpg" alt="案例中心展示">
                  </figure>
                  <div class="case-info">
                      <span class="tag address">成都</span>
                      <span class="tag buildings">太古里</span>
                      <time class="tag">2018.09.16</time>
                  </div>
                  <strong class="series">120阳光房系列</strong>
              </a>
          </li>
          <li>
              <a href="#" title="120阳光房系列">
                  <figure>
                      <img src="assets/images/case1.jpg" alt="案例中心展示">
                  </figure>
                  <div class="case-info">
                      <span class="tag address">成都</span>
                      <span class="tag buildings">太古里</span>
                      <time class="tag">2018.09.16</time>
                  </div>
                  <strong class="series">120阳光房系列</strong>
              </a>
          </li>
          <li>
              <a href="#" title="120阳光房系列">
                  <figure>
                      <img src="assets/images/case1.jpg" alt="案例中心展示">
                  </figure>
                  <div class="case-info">
                      <span class="tag address">成都</span>
                      <span class="tag buildings">太古里</span>
                      <time class="tag">2018.09.16</time>
                  </div>
                  <strong class="series">120阳光房系列</strong>
              </a>
          </li>
          <li>
              <a href="#" title="120阳光房系列">
                  <figure>
                      <img src="assets/images/case1.jpg" alt="案例中心展示">
                  </figure>
                  <div class="case-info">
                      <span class="tag address">成都</span>
                      <span class="tag buildings">太古里</span>
                      <time class="tag">2018.09.16</time>
                  </div>
                  <strong class="series">120阳光房系列</strong>
              </a>
          </li>
          <li>
              <a href="#" title="120阳光房系列">
                  <figure>
                      <img src="assets/images/case1.jpg" alt="案例中心展示">
                  </figure>
                  <div class="case-info">
                      <span class="tag address">成都</span>
                      <span class="tag buildings">太古里</span>
                      <time class="tag">2018.09.16</time>
                  </div>
                  <strong class="series">120阳光房系列</strong>
              </a>
          </li>
          <li>
              <a href="#" title="120阳光房系列">
                  <figure>
                      <img src="assets/images/case1.jpg" alt="案例中心展示">
                  </figure>
                  <div class="case-info">
                      <span class="tag address">成都</span>
                      <span class="tag buildings">太古里</span>
                      <time class="tag">2018.09.16</time>
                  </div>
                  <strong class="series">120阳光房系列</strong>
              </a>
          </li>
          <li>
              <a href="#" title="120阳光房系列">
                  <figure>
                      <img src="assets/images/case1.jpg" alt="案例中心展示">
                  </figure>
                  <div class="case-info">
                      <span class="tag address">成都</span>
                      <span class="tag buildings">太古里</span>
                      <time class="tag">2018.09.16</time>
                  </div>
                  <strong class="series">120阳光房系列</strong>
              </a>
          </li>
          <li>
              <a href="#" title="120阳光房系列">
                  <figure>
                      <img src="assets/images/case1.jpg" alt="案例中心展示">
                  </figure>
                  <div class="case-info">
                      <span class="tag address">成都</span>
                      <span class="tag buildings">太古里</span>
                      <time class="tag">2018.09.16</time>
                  </div>
                  <strong class="series">120阳光房系列</strong>
              </a>
          </li>
          <li>
              <a href="#" title="120阳光房系列">
                  <figure>
                      <img src="assets/images/case1.jpg" alt="案例中心展示">
                  </figure>
                  <div class="case-info">
                      <span class="tag address">成都</span>
                      <span class="tag buildings">太古里</span>
                      <time class="tag">2018.09.16</time>
                  </div>
                  <strong class="series">120阳光房系列</strong>
              </a>
          </li>
      </ul>
      <div class="pagination-wrapper">
          <ul class="pagination">
              <!-- 当前页面时，给 li 添加 active 类 -->
              <li>
                  <a href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                  </a>
              </li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li>
                  <a href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                  </a>
              </li>
          </ul>
      </div>
  </section>
</main>
