<div class="banner case-banner">
  <img src="assets/images/case-banner.png" alt="案例中心banner">
</div>
<main id="main" role="main" class="main">
  <section class="case">
      <h3 class="heading">
          <strong class="cn">案例中心</strong>
          <strong class="en">Case Center</strong>
      </h3>
      <ul class="list">
          <ng-container *ngFor="let case of caseResult?.list">
          <li>
              <a href="#" title="{{case.title}}">
                  <figure>
                      <img src="assets/images/{{case.icon}}" alt="{{case.title}}">
                  </figure>
                  <div class="case-info">
                      <span class="tag address">{{case.area}}"</span>
                      <span class="tag buildings">{{case.address}}"</span>
                      <time class="tag">{{case.createTime | date: 'yyyy-MM-dd' }}</time>
                  </div>
                  <strong class="series">{{case.title}}</strong>
              </a>
          </li>
        </ng-container>

      </ul>
      <div class="pagination-wrapper">
        <hw-pagination [totalPage]="caseResult?.pages" [(currentPage)]="currentPage"
        [navigatepageNums]="caseResult?.navigatepageNums"
        (pageChange)="queryCasePerPage($event)" ></hw-pagination>

      </div>
  </section>
</main>
