<div class="banner experience-store-banner">
  <img src="assets/images/experience-store-banner.png" alt="体验店风采banner">
</div>
<main id="main" role="main" class="main">
  <section class="experience-store">
      <h3 class="heading">
          <strong class="cn">体验店风采</strong>
          <strong class="en">Experience Store Style</strong>
      </h3>
      <ul class="list">
          <li>
              <a href="#" title="成都加盟一分店">
                  <figure>
                      <img src="assets/images/experience-store1.jpg" alt="体验店风采展示">
                  </figure>
                  <strong>成都加盟一分店</strong>
              </a>
          </li>
          <li>
              <a href="#" title="成都加盟一分店">
                  <figure>
                      <img src="assets/images/experience-store1.jpg" alt="体验店风采展示">
                  </figure>
                  <strong>成都加盟一分店</strong>
              </a>
          </li>
          <li>
              <a href="#" title="成都加盟一分店">
                  <figure>
                      <img src="assets/images/experience-store1.jpg" alt="体验店风采展示">
                  </figure>
                  <strong>成都加盟一分店</strong>
              </a>
          </li>
          <li>
              <a href="#" title="成都加盟一分店">
                  <figure>
                      <img src="assets/images/experience-store1.jpg" alt="体验店风采展示">
                  </figure>
                  <strong>成都加盟一分店</strong>
              </a>
          </li>
          <li>
              <a href="#" title="成都加盟一分店">
                  <figure>
                      <img src="assets/images/experience-store1.jpg" alt="体验店风采展示">
                  </figure>
                  <strong>成都加盟一分店</strong>
              </a>
          </li>
          <li>
              <a href="#" title="成都加盟一分店">
                  <figure>
                      <img src="assets/images/experience-store1.jpg" alt="体验店风采展示">
                  </figure>
                  <strong>成都加盟一分店</strong>
              </a>
          </li>
          <li>
              <a href="#" title="成都加盟一分店">
                  <figure>
                      <img src="assets/images/experience-store1.jpg" alt="体验店风采展示">
                  </figure>
                  <strong>成都加盟一分店</strong>
              </a>
          </li>
          <li>
              <a href="#" title="成都加盟一分店">
                  <figure>
                      <img src="assets/images/experience-store1.jpg" alt="体验店风采展示">
                  </figure>
                  <strong>成都加盟一分店</strong>
              </a>
          </li>
          <li>
              <a href="#" title="成都加盟一分店">
                  <figure>
                      <img src="assets/images/experience-store1.jpg" alt="体验店风采展示">
                  </figure>
                  <strong>成都加盟一分店</strong>
              </a>
          </li>
      </ul>
      <div class="pagination-wrapper">
          <ul class="pagination">
              <!-- 当前页面时，给 li 添加 active 类 -->
              <li>
                  <a href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                  </a>
              </li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li>
                  <a href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                  </a>
              </li>
          </ul>
      </div>
  </section>
</main>
