<div class="banner contact-banner">
  <img src="assets/images/contact-banner.png" alt="联系我们banner">
</div>
<main id="main" role="main" class="main">
  <section class="contact-us">
      <h3 class="heading">
          <strong class="cn">联系我们</strong>
          <strong class="en">Contact Us</strong>
      </h3>
      <div class="body">
          <div id="baidumap" class="baidumap"></div>
          <div class="details">
              <img src="assets/images/contact-us.png" alt="联系我们">
              <span>服务热线：<a href="tel:4006570567" title="给我们打电话">400-657-0567</a></span>
              <span>传真号码：400-657-0567</span>
              <span>服务QQ：<a href="tencent://Message/?Uin=1806614458&websiteName=q-zone.qq.com&Menu=yes" title="通过QQ联系我们">1806614458</a></span>
              <span>电子邮件：<a href="meilto:abcd@qq.com" title="通过邮件联系我们">abcd@qq.com</a></span>
              <span>公司地址：四川成都XXX</span>
          </div>
      </div>
  </section>
</main>
