<div class="banner news-banner">
  <img src="assets/images/news-banner.png" alt="新闻动态banner">
</div>
<main id="main" role="main" class="main">
  <nav class="tab js-tab">
      <a href="#news" title="美珀新闻">美珀新闻</a>
      <a href="#trends" title="行业动态">行业动态</a>
  </nav>
  <section id="news" class="news-classify news">
      <h3 class="heading">
          <strong class="cn">美珀新闻</strong>
          <strong class="en">Meablo News</strong>
      </h3>
      <ul class="list">
          <li>
              <time>2018-08-05</time>
              <h4><a href="#" title="安装落地落地窗的优劣势">安装落地落地窗的优劣势</a></h4>
              <p>你家也有安装落地玻璃窗吧，相信现在不少的房屋装修中都有选择这种玻璃窗的安装方式，但是你是</p>
          </li>
          <li>
              <time>2018-08-05</time>
              <h4><a href="#" title="安装落地落地窗的优劣势">安装落地落地窗的优劣势</a></h4>
              <p>你家也有安装落地玻璃窗吧，相信现在不少的房屋装修中都有选择这种玻璃窗的安装方式，但是你是</p>
          </li>
          <li>
              <time>2018-08-05</time>
              <h4><a href="#" title="安装落地落地窗的优劣势">安装落地落地窗的优劣势</a></h4>
              <p>你家也有安装落地玻璃窗吧，相信现在不少的房屋装修中都有选择这种玻璃窗的安装方式，但是你是</p>
          </li>
          <li>
              <time>2018-08-05</time>
              <h4><a href="#" title="安装落地落地窗的优劣势">安装落地落地窗的优劣势</a></h4>
              <p>你家也有安装落地玻璃窗吧，相信现在不少的房屋装修中都有选择这种玻璃窗的安装方式，但是你是</p>
          </li>
          <li>
              <time>2018-08-05</time>
              <h4><a href="#" title="安装落地落地窗的优劣势">安装落地落地窗的优劣势</a></h4>
              <p>你家也有安装落地玻璃窗吧，相信现在不少的房屋装修中都有选择这种玻璃窗的安装方式，但是你是</p>
          </li>
          <li>
              <time>2018-08-05</time>
              <h4><a href="#" title="安装落地落地窗的优劣势">安装落地落地窗的优劣势</a></h4>
              <p>你家也有安装落地玻璃窗吧，相信现在不少的房屋装修中都有选择这种玻璃窗的安装方式，但是你是</p>
          </li>
          <li>
              <time>2018-08-05</time>
              <h4><a href="#" title="安装落地落地窗的优劣势">安装落地落地窗的优劣势</a></h4>
              <p>你家也有安装落地玻璃窗吧，相信现在不少的房屋装修中都有选择这种玻璃窗的安装方式，但是你是</p>
          </li>
          <li>
              <time>2018-08-05</time>
              <h4><a href="#" title="安装落地落地窗的优劣势">安装落地落地窗的优劣势</a></h4>
              <p>你家也有安装落地玻璃窗吧，相信现在不少的房屋装修中都有选择这种玻璃窗的安装方式，但是你是</p>
          </li>
          <li>
              <time>2018-08-05</time>
              <h4><a href="#" title="安装落地落地窗的优劣势">安装落地落地窗的优劣势</a></h4>
              <p>你家也有安装落地玻璃窗吧，相信现在不少的房屋装修中都有选择这种玻璃窗的安装方式，但是你是</p>
          </li>
      </ul>
      <div class="pagination-wrapper">
          <ul class="pagination">
              <!-- 当前页面时，给 li 添加 active 类 -->
              <li>
                  <a href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                  </a>
              </li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li>
                  <a href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                  </a>
              </li>
          </ul>
      </div>
  </section>
  <section id="trends" class="news-classify trends">
      <h3 class="heading">
          <strong class="cn">行业动态</strong>
          <strong class="en">Industry News</strong>
      </h3>
      <ul class="list">
          <li>
              <time>2018-08-05</time>
              <h4><a href="#" title="安装落地落地窗的优劣势">安装落地落地窗的优劣势</a></h4>
              <p>你家也有安装落地玻璃窗吧，相信现在不少的房屋装修中都有选择这种玻璃窗的安装方式，但是你是</p>
          </li>
          <li>
              <time>2018-08-05</time>
              <h4><a href="#" title="安装落地落地窗的优劣势">安装落地落地窗的优劣势</a></h4>
              <p>你家也有安装落地玻璃窗吧，相信现在不少的房屋装修中都有选择这种玻璃窗的安装方式，但是你是</p>
          </li>
          <li>
              <time>2018-08-05</time>
              <h4><a href="#" title="安装落地落地窗的优劣势">安装落地落地窗的优劣势</a></h4>
              <p>你家也有安装落地玻璃窗吧，相信现在不少的房屋装修中都有选择这种玻璃窗的安装方式，但是你是</p>
          </li>
          <li>
              <time>2018-08-05</time>
              <h4><a href="#" title="安装落地落地窗的优劣势">安装落地落地窗的优劣势</a></h4>
              <p>你家也有安装落地玻璃窗吧，相信现在不少的房屋装修中都有选择这种玻璃窗的安装方式，但是你是</p>
          </li>
          <li>
              <time>2018-08-05</time>
              <h4><a href="#" title="安装落地落地窗的优劣势">安装落地落地窗的优劣势</a></h4>
              <p>你家也有安装落地玻璃窗吧，相信现在不少的房屋装修中都有选择这种玻璃窗的安装方式，但是你是</p>
          </li>
          <li>
              <time>2018-08-05</time>
              <h4><a href="#" title="安装落地落地窗的优劣势">安装落地落地窗的优劣势</a></h4>
              <p>你家也有安装落地玻璃窗吧，相信现在不少的房屋装修中都有选择这种玻璃窗的安装方式，但是你是</p>
          </li>
          <li>
              <time>2018-08-05</time>
              <h4><a href="#" title="安装落地落地窗的优劣势">安装落地落地窗的优劣势</a></h4>
              <p>你家也有安装落地玻璃窗吧，相信现在不少的房屋装修中都有选择这种玻璃窗的安装方式，但是你是</p>
          </li>
          <li>
              <time>2018-08-05</time>
              <h4><a href="#" title="安装落地落地窗的优劣势">安装落地落地窗的优劣势</a></h4>
              <p>你家也有安装落地玻璃窗吧，相信现在不少的房屋装修中都有选择这种玻璃窗的安装方式，但是你是</p>
          </li>
          <li>
              <time>2018-08-05</time>
              <h4><a href="#" title="安装落地落地窗的优劣势">安装落地落地窗的优劣势</a></h4>
              <p>你家也有安装落地玻璃窗吧，相信现在不少的房屋装修中都有选择这种玻璃窗的安装方式，但是你是</p>
          </li>
      </ul>
      <div class="pagination-wrapper">
          <ul class="pagination">
              <!-- 当前页面时，给 li 添加 active 类 -->
              <li>
                  <a href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                  </a>
              </li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li>
                  <a href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                  </a>
              </li>
          </ul>
      </div>
  </section>
</main>
