<div class="banner news-banner">
  <img src="assets/images/news-banner.png" alt="新闻动态banner">
</div>
<main id="main" role="main" class="main">
  <nav class="tab js-tab">
      <a href="#news" title="美珀新闻">美珀新闻</a>
      <a href="#trends" title="行业动态">行业动态</a>
  </nav>
  <section id="news" class="news-classify news">
      <h3 class="heading">
          <strong class="cn">美珀新闻</strong>
          <strong class="en">Meablo News</strong>
      </h3>
      <ul class="list">
        <ng-container *ngFor="let n of news.list">
          <li>
            <time>{{n.createTime | date: 'yyyy-MM-dd' }</time>
            <h4><a href="#" title="{{n.title}}">{{n.title}}</a></h4>
              <p>{{n.content}}</p>
          </li>
        </ng-container>

      </ul>
      <div class="pagination-wrapper">
          <ul class="pagination">
              <hw-pagination [totalPage]="news?.pages" [(currentPage)]="newCurentPage"
              [navigatepageNums]="news?.navigatepageNums"
              (pageChange)="getNews($event)" ></hw-pagination>
              <!-- 当前页面时，给 li 添加 active 类 -->
              <!-- <li>
                  <a href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                  </a>
              </li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li>
                  <a href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                  </a>
              </li> -->
          </ul>
      </div>
  </section>
  <section id="trends" class="news-classify trends">
      <h3 class="heading">
          <strong class="cn">行业动态</strong>
          <strong class="en">Industry News</strong>
      </h3>
      <ul class="list">
          <ng-container *ngFor="let trade of trades.list">
              <li>
                <time>{{trade.createTime | date: 'yyyy-MM-dd' }</time>
                <h4><a href="#" title="{{trade.title}}">{{trade.title}}</a></h4>
                  <p>{{trade.content}}</p>
              </li>
            </ng-container>

      </ul>
      <div class="pagination-wrapper">
          <hw-pagination [totalPage]="trades?.pages" [(currentPage)]="tradeCurentPage"
          [navigatepageNums]="trades?.navigatepageNums"
          (pageChange)="getTrades($event)" ></hw-pagination>
      </div>
  </section>
</main>
