<div class="banner product-banner">
  <img src="assets/images/product-banner.png" alt="产品中心banner">
</div>
<main id="main" role="main" class="main">
  <nav class="tab js-tab" >
    <ng-container *ngFor="let type of types">
      <a (click)='util.goTOId(type.id)' title="{{type.name}}">{{type.name}}</a>
    </ng-container>
  </nav>
  <ng-container *ngFor="let product of products">
  <section id="{{product.type.id}}" class="product-type flat-open-window">
      <h3 class="heading">
          <strong class="cn">{{product.type.name}}</strong>
          <strong class="en">{{product.type.enName}}</strong>
      </h3>
      <ul class="list">
          <ng-container *ngFor="let pro of product.list">
          <li>
              <a href="#" title="{{pro.productname}}">
                  <figure>
                      <img src="assets/images/product/{{viewImage(pro?.images)}}" alt="{{pro.productname}}">
                  </figure>
                  <strong class="series">{{pro.productname}}</strong>
              </a>
          </li>
        </ng-container>
      </ul>
  </section>
</ng-container>
</main>
